* {
    background-color: rgb(8, 8, 36);
}

body {
    font-family: 'Press Start 2P', cursive;
    color: antiquewhite;
}

.heading {
    padding: 2rem;
    margin: 0 auto;
    width: 40rem;
    color: goldenrod;
}

.content, p {
    padding: 1rem;
    margin: 0 auto;
    width: 40rem;
    background-color: rgba(128, 128, 128, 0.100);
}


