* {
    background-color: rgb(8, 8, 36);
    font-family: 'Press Start 2P', cursive;
    font-size: 0.7rem;
}

body {
    color: antiquewhite;
}

.heading {
    padding: 2rem;
    margin: 0 auto;
    width: 60rem;
    color: goldenrod;
}

.content {
    padding: 5rem;
    margin: 0 auto;
    width: 60rem;
    color: antiquewhite;
    background-color: rgba(128, 128, 128, 0.150);
}

h2 {
    color: antiquewhite;
}

li {
    list-style: none;
    padding: 0.5rem;
    margin: 0 auto;
    color: goldenrod;
}

p {
    padding: 1rem;
}

p:hover {
    background-color: rgba(128, 128, 128, 0.150);
}

button {
    margin: 0 auto;
    border: none;
    padding: 1rem;
}

